/* Coolors Exported Palette - coolors.co/5bc0eb-fde74c-9bc53d-c3423f-404e4d */

/* HSL */
$color1: hsla(198%, 78%, 64%, 1);
$color2: hsla(53%, 98%, 65%, 1);
$color3: hsla(79%, 54%, 51%, 1);
$color4: hsla(1%, 52%, 51%, 1);
$color5: hsla(176%, 10%, 28%, 1);

/* RGB */
$color1: rgba(91, 192, 235, 1);
$color2: rgba(253, 231, 76, 1);
$color3: rgba(155, 197, 61, 1);
$color4: rgba(195, 66, 63, 1);
$color5: rgba(64, 78, 77, 1);